*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Orbitron', sans-serif;
}
main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: main;
}
body{
    display:grid;
    grid-template-rows:auto;
    grid-template-areas:"sidebar main";
    grid-template-columns: auto 1fr;
    height: 100vh;
    width: 100%;
}

header{
    display:flex;       
    flex-direction: column;
    min-height: 200px;
    height: auto;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: #3a4149;
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 100%);
}

header h1{
    color:whitesmoke;
    padding-bottom: 3.5em;
}

nav{
    margin-left: auto;
    margin-right: 1em;
    margin-top: 0.7em;
    font-size: small;
}

nav a{
    position: relative;
    margin: 3px;
    color:white;
    text-decoration: none;
    transition: color 100ms ease-out;
}

nav a:not(:first-child)::after{
    position: absolute;
    content:"";
    top:0;
    bottom:0;
    width:1.5px;
    left:-5px;
    background: white;
    }

nav a:hover{
    color:#E26B4F;
    
}

.article{
    position: relative;
    display: flex;
    margin-inline:5em;
    margin-block: 2em;
    border: 2px solid black;
    border-radius: 5px;
    min-height:300px;
}

.article .content::after{
    position: absolute;
    content:"";
    top:0;
    bottom:0;
    width:1.5px;
    right:0;
    background: black;
}

.article .content{
    position: relative;
    padding-inline: 1em ;
    padding-block: .5em;

}
.article h1{
    color: #E26B4F;
}

.picture{
    background-image: url("hunting1.jpg");
    height: 100%;
    min-width: 30%;
    transition: background-image 750ms ease-in;
    -webkit-transition: background-image 500ms ease-in;
}

footer{
    position: relative;
    min-height: 200px;
    height: auto;
    width: 100%;
    background-color: #3a4149;
    clip-path: polygon(0% 60%, 100% 0%, 100% 100%, 0% 100%)
}

.sidebar{
    display: flex;
    flex-direction: column;
    position: relative;
    width:400px;
    background-color:darkgray;
    grid-area: sidebar;
    gap:2em;
    padding:1em;
    align-items: center;
    justify-content: center ;
}

.sidebar h1{
    width: 100%;
    color:#3a4149;
    align-items: center;
    text-align: center;
    padding-top: 0.2em;
}

.sidebar>div>div{
    display:flex;
    margin:auto;
    height:90%;
    width:90%;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
   
}

.sidebar>div{
    display:flex;
    width: 80%;
    height:100%;
    background: #3a4149 ;
    transition:background-color 500ms ease-in-out;
}

.sidebar>div:hover{
    background-color:whitesmoke;
}

.one{
    background-image:url(hunting1.jpg);
}

.two{
    background-image:url(hunting2.jpg);
}

.three{
    background-image:url(hunting3.jpg);
}

.four{
    background-image:url(hunting4.jpg);
}


